* {
  box-sizing: border-box;
}

body {
  color: $normal-font-color;
  background: $page-background;
  font-family: $font-stack;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

