.leafletmapcontainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;

  #leafletmap {
    min-height: 28em;
  }

  .leafletpopup {
    font-family: $font-stack;
  }
}

.mbglmapcontainer {
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  min-width: 90%;
  height: 20em;

  #mgblmap {
    min-height: 20em;
  }

  canvas.mapboxgl-canvas {
    position: relative !important;
    min-height: 20em !important;
  }
}

.mapcontainer {
  canvas.mapboxgl-canvas {
    position: relative !important;
  }
}

.mapboxgl-popup-content {
  display: none;
}
